@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>

<p>CHICO (Commonly Held Information for Collaborative Objective) is a data repository/directory for all the parties in the construction business. </p>

<h3>Mission Statement</h3>
<p>To improve access to surety credit for contractors by reducing barriers through efficiency and reduced costs using open standards. </p>
<p>To provide an industry recognized common application so that contractors and their surety agents can streamline the submission process and underwriters can cost effectively entertain new accounts by importing data directly into their underwriting systems eliminating the expense and delay of manual entry.</p>
<p>To provide an opportunity for university students to make valuable contributions towards a industry objectives through active participation.</p>
