@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>

<h3>SmartChico Developers Team<br /></h3>
<address>
    HEADQUARTERS<br />
    17449 N CACTUS PHOENIX, AZ 95054 USA<br /><br />
    <strong>Have Questions?<br /></strong>
    <p>We are available to answer!</p>
    <abbr title="Phone">PHONE:</abbr>
    (855) 846-7866<br /> INTL: +44 (0) 20 3826 1405
</address>

<address>
    <strong>Contact Us?</strong>
    <p>Write to us at the below addreses and we will get back to you!<br /></p>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support1@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
