@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/ChicoLogo.png" align="middle" alt="CHICO" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <a class="btn btn-default" href="/">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Contractor.png" align="middle" alt="Features" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <font color="black"; size="5">Your portal for finding qualified contractors </font>
                    <a class="btn btn-default" href="/">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Project.png" alt="Project management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <font color="white"; size="5">View all contractors and sub-contractors in your project</font>
                        <a class="btn btn-default" href="/">
                            Learn More
                        </a>
</p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Bid.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <br><br><br><br>
                    <font color="black" ; size="5">Contractor? Apply for a surety program</font>
                        <a class="btn btn-default" href="/">
                            Learn More
                        </a>
</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Manage</h2>
        <ul>
            <li><a asp-controller="ProjectParties" asp-action="Create">Assign project roles</a></li>
            <li><a asp-controller="Projects" asp-action="Create">New Project</a></li>
            <li><a asp-controller="Organizations" asp-action="Index">contractor listing</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a asp-controller="Bids" asp-action="Create">Place bid on a project</a></li>
            <li><a asp-controller="Bids" asp-action="Index">View bid list</a></li>
            <li>Underwriters</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>News & Events</h2>
        <ul>
            <li><a href="http://www.cnn.com/">What's up USA</a></li>
            <li><a href="https://www.hugedomains.com/domain_profile.cfm?d=samplebroker&e=com">Sample Insurance/Surety Broker, Inc.</a></li>
            <li><a href="https://www.hugedomains.com/domain_profile.cfm?d=samplebroker&e=com">Sample Surety Company, Inc.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Resources</h2>
        <ul>
            <li><a asp-controller="Naics" asp-action="Index">NAICS code</a></li>
            <li><a href="/">Corporation laws</a></li>
        </ul>
    </div>
</div>
